

<style>
    .nav-item{
        margin: 4px;
         color:white;
        font-size: 15px;
    }
    ul {
        list-style-type: none;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" style="text-align:left; color: white;" href="/">E-Commerce</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a asp-controller="Home" asp-action="Index" style="text-align:left; color: white; font-size:15px;">Home</a>
            </li>
            @if (User.Identity.IsAuthenticated)
            {  
                if (User.IsInRole("SysAdmin"))
                {
                    <li class="nav-item">
                        <a asp-controller="" asp-action="" style="text-align:left; color: white;font-size:15px;">Customer Operations </a>
                    </li>                 
                    <li class="nav-item">
                        <a asp-controller="" asp-action="" style="text-align:left; color: white;font-size:15px;">Product Operations</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="" asp-action="" style="text-align:left; color: white;font-size:15px;">Brand Operations</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="" asp-action="" style="text-align:left; color: white;font-size:15px;">System Operations</a>
                    </li>
                }
                if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a asp-controller="" asp-action="" style="text-align:left; color: white;font-size:15px;">Add Brand </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="" asp-action="" style="text-align:left; color: white;font-size:15px;">Update Brand</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="" asp-action="" style="text-align:left; color: white;font-size:15px;">Delete Brand</a>
                    </li>
                }
                if (User.IsInRole("Customer"))
                {
                    <li class="nav-item">
                        <a asp-controller="" asp-action="" style="text-align:left; color: white;font-size:15px;"> Shop </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="" asp-action="" style="text-align:left; color: white;font-size:15px;">Add Product Comment</a>
                    </li>           
                }
            }
        </ul>

        <ul>

            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="" style="text-align:left; color: white;font-size:15px;">
                        @User.Identity.Name
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Logout" style="text-align:left; color: white;font-size:15px;">Logout</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Login" style="text-align:left; color: white;font-size:15px;"  class="navbarText navbar-text">Login</a>
                </li>      
            }
        </ul>
    </div>
</nav>