@model LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<html>
<head>
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/css/loginStyle.css" rel="stylesheet" />
</head>
<body>
@if (ViewBag.ErrorMessage != null)
{
    <div class="text-danger">@ViewBag.ErrorMessage</div>
}
    <div class="container" style="align-content:center; ">
        <div class="login-content">
            <form asp-controller="Account" asp-action="Login" method="post" class="Login">
                <div asp-validation-summary="All" class="text-danger"></div>
                <img src="~/img/login.png" class="logo img-fluid" />
                <br />
                <div class="input-div one">
                    <div class="i">
                        <i class="fas"></i>
                    </div>
                    <div class="div">
                            <label asp-for="Email" class="col-md-2 col-form-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Email" value="@Model.Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas"></i>
                    </div>
                    <div class="div">
                            <label asp-for="Password" class="col-md-2 col-form-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Password" value="@Model.Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                    </div>
                </div>
                <br />
                 <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
        
    </div>


@section Scripts {
   
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@4.0.0/dist/jquery.validate.unobtrusive.min.js" integrity="sha256-RFWFWIIPsjB4DucR4jqwxTWw13ZmtI+s6tVR2LJmZXk=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    
}
</body>
</html>